[data-marqy] {
  overflow: hidden;
}

[data-marqy-inner] {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: calc(var(--marqy-x) / (100 * var(--marqy-speed)) * 1s);
  will-change: transform;
}

[data-marqy][data-direction='right'] [data-marqy-inner] {
  justify-content: flex-end;
}

[data-marqy][data-direction='left'] [data-marqy-inner] {
  animation-name: marqyL;
}

[data-marqy][data-direction='right'] [data-marqy-inner] {
  animation-name: marqyR;
}

[data-marqy][data-pause-on-hover]:hover [data-marqy-inner] {
  animation-play-state: paused;
}

[data-marqy-item] {
  flex-grow: 0;
}

@keyframes marqyL {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-1px * var(--marqy-x)), 0, 0);
  }
}

@keyframes marqyR {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(1px * var(--marqy-x)), 0, 0);
  }
}

@media (prefers-reduced-motion) {
  [data-marqy] {
    overflow-x: scroll;
  }

  [data-marqy-inner] {
    animation: none !important;
  }
}
