* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Arial Narrow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  border: unset;
  border-radius: unset;
  background: unset;
  color: block;
  font-size: 20px;
  font-family: serif;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  outline: unset;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.invert button,
button.invert {
  color: white;
  border: 1px solid white;
}

.invert button:hover,
button.invert:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

img {
  border-radius: 9999px;
}

.py-025 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.p-05 {
  padding: 0.5em;
}

.py-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.mr-025 {
  margin-right: 0.25em;
}

.mx-05 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.invert {
  background-color: black;
  color: white;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}
