---
import { Marqy } from 'marqy'

import Layout from '../layouts/layout.astro'
---

<Layout title="MARQY_404" minimal>
  <div class="flex-1 flex flex-col justify-center items-center">
    <Marqy speed={1.5} client:load>
      <h1 class="text-h1 text-[50vh]">404_</h1>
      </Marqy>
  </div>
</Layout>
