<header class="sticky top-0 inset-x-0 w-full z-10 flex items-center justify-between backdrop-blur-sm border-b p-20 bg-black/60">
  <h1>
    <a href="/" class="flex items-baseline">
      <span class="text-h1 uppercase">marqy</span>
      <span class="text-p0 text-white/50">v_1.1.0</span>
    </a>
  </h1>
  <nav>
    <ul class="flex items-center gap-10">
      <li>
        <a
          href="/tests"
          class="group text-p1"
        >[ <span class="uppercase group-hover:animate-flicker-opacity">Tests</span> ]</a>
      </li>
      <li>
        <a
          href="https://github.com/ndimatteo/marqy"
          target="_blank"
          rel="noopener noreferrer"
          class="group text-p1"
        >[ <span class="uppercase group-hover:animate-flicker-opacity">GitHub</span> ]</a>
      </li>
      <li>
        <a
          href="https://www.npmjs.com/package/marqy"
          target="_blank"
          rel="noopener noreferrer"
          class="group text-p1"
        >
        [ <span class="uppercase group-hover:animate-flicker-opacity">NPM</span> ]
        </a>
      </li>
    </ul>
  </nav>
</header>